.notification {
  &-container {
    border-radius: 3px;
    background-color: #f2f5ff;
    padding: 12px;
    margin: 15px 0;
   }
  &-message {
    color: $text-color;
    font-family: "Arial Black";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px 15px;
  }
  &-button {
    border-radius: 3px;
    background-color: #dae3ff;
    text-shadow: none;
    background-image: none;
    color: $text-color;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 0 15px;
    &:hover {
      color: $text-color;
      background-color: #dae3ff;
      border: 1px solid $text-color;
    }
  }
  &-button--close {
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: $text-color;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin: 10px;
  }
}